/* Footer.css */

.footer {
  background-color: #333;
  color: white;
  text-align: center;
}

.footer-line {
  border: none;
  border-top: 1px solid white; /* Adjust color as needed */
  flex: 1; /* Makes the lines fill up the space on either side */
  margin: 0 20px; /* Adjust spacing around the text */
}

.footer-content {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

.footer-content h3 {
  margin-bottom: 30px;
}

.footer-content p {
  margin-bottom: 20px;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content li {
  margin-bottom: 10px;
}

.footer-content a {
  color: #0d6efd;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.social-icon {
  height: 20px; /* Adjust as needed */
  margin-right: 8px;
  vertical-align: middle;
}